/*Поставил  шрифт Roboto как по макету*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Roboto:wght@400&display=swap');

/*Создать рамочку*/
.wrapper{
   margin: auto;
border: 2px solid rgba(0, 0, 0, 0.564);
background-color: rgba(233, 127, 213, 0.539);
width: 70%;
height: 150px;
display: flex;
border-radius: 10px;
}
h1{
   font-size: 35px;
   padding: 25px;
   font-weight: 200;
   font-family: 'Roboto', sans-serif;
}
/*Создаю место для цифровых часов класса "clock"*/
#clock{
   width: 130px;
   background-color: #171717;
   border: 2px solid #1919198e;
   border-radius: 10px;
    height: 0px;
   color: #ffffff;
   padding-top: 30px;
   font-size:20px;
   text-align: center;
   letter-spacing: 2px;
   margin-left: 600px;
   margin-top: 30px;
   padding-bottom: 50px;
}


/*Здесь будет разрешения для разных устройств