@import url("./variables.css");

.card_container {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  overflow-y: auto;
}
.card {
  width: 95%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid var(--card-border-color);
  background-color: var(--background-card);
  color: var(--text-color-black);
}
.card_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card_buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card_edit {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
}
.card_navigation {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card_user {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  font-size: 15px;
}
.card_description {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card_description p {
  border-radius: 4px;
  padding: 5px 7px;
  background: var(--card-description);
}
.card_information {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card_buttons button {
  cursor: pointer;
  padding: 5px;
  border: 0;
  border-radius: 8px;
  color: var(--text-color-white);
}

.edit_button {
  background-color: var(--background-modal);
  width: 40%;
}
.delete_button {
  background-color: var(--background-delete);
  width: 40%;
}
.undo_button {
  background-color: var(--background-delete);
  width: 40%;
}
.add_button {
  background-color: var(--background-modal);
  width: 100%;
}
.card_buttons button:disabled {
  cursor: default;
  opacity: 0.5;
}
.complete_button {
  background-color: var(--background-user-active);
  width: 40%;
}
