@import url('./variables.css');

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.card_wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 27%;
  border: 1px solid #919294;
  border-radius: 8px;
}

.card_wrapper_header {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  align-items: center;
  background-color: var(--background-header);
  color: var(--text-color-black);
  border-radius: 7px 7px 0 0;
}

.card_status {
  display: flex;
  justify-content: space-between;
}
.card_status::after {
  content: ':';
}

.counter_task {
  font-size: 24px;
}

.card_wrapper > button {
  width: 100%;
  padding: 10px;
  border-radius: 0 0 7px 7px;
  cursor: pointer;
  color: var(--text-color-white);
}

#card_progress_add > button:hover,
#card_progress_add > button:active {
  background-color: var(--background-add-hover);
  border: 1px solid var(--background-add-hover);
}

#card_progress_add > button {
  background-color: var(--background-add);
  border: 1px solid var(--background-add);
}

#card_progress_done > button {
  background-color: var(--background-delete);
  border: 1px solid var(--background-delete);
}
#card_progress_done > button:disabled {
  cursor: default;
}

#card_progress_done > button:active,
#card_progress_done > button:hover {
  background-color: #c80d0d;
  border: 1px solid #c80d0d;
}
#card_progress_done > button:disabled {
    opacity: 0.5;
}
#card_progress_inprogress > button {
  background-color: var(--background-done);
  border: 1px solid var(--background-done);
}

#card_progress_inprogress > button:active,
#card_progress_inprogress > button:hover {
  background-color: var(--background-done-hover);
  border: 1px solid var(--background-done-hover);
}
