@import url("./variables.css");

footer {
  background-color: var(--background-done-add-hover);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--background-done-add-hover);
  border-radius: 8px 8px 0 0;
  color: white;
}
.footer_title,
.subtitle {
  font-size: 20px;
}
.footer_text {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  align-items: end;
}
.member_team {
  font-size: 15px;
  margin-left: 15px;
}
hr {
  border-bottom: 2px solid #919294;
  display: block;
  width: 90%;
  margin-top: 10px;
}
.footer {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0;
  font-size: 1.5em;
}
.footer_title {
  margin-top: 10px;
}
a {
  margin-left: 10px;
}
.theme {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.theme-select {
  background-color: var(--background-body);
  color: var(--text-color-black);
  width: 60px;
  height: 25px;
  border-radius: 5px;
}