@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto';
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.wrapper {
    width: 1440px;
    margin: 0 auto;
}

.card_container {
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.card_wrapper {
    width: 23%;
    border: 1px solid #000;
    border-radius: 5px ;
}
.card_header {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    background-color: blueviolet;
}

.card_status {
    display: flex;
    justify-content: space-between;
    
} 
.card_status::after {
    content: ':';
}

.card {
    width: 100%;
    margin: 20px;
    min-height: 30vh;

}

.counter_task {
    font-size: 24px;
}

.button {
width: 100%;
padding: 10px;
border: 1px solid #000;
border-radius: 0 0 5px 5px;
cursor: pointer;
}

.button_add:hover,
.button_add:active
 {
    background-color: #00FA9A;
    border: 1px solid #00FA9A;
}

.button_add {
    background-color: #00FF7F;
    border: 1px solid #00FF7F;
}

.button_delete_all {
    background-color: #FA8072;
    border: 1px solid #FA8072;
}

.button_delete_all:active,
.button_delete_all:hover {
    background-color: #F08080;
    border: 1px solid #F08080;
}
.button_done_all {
    background-color: #FFFF33;
    border: 1px solid #FFFF33;
}

.button_done_all:active,
.button_done_all:hover {
    background-color: #FFFF99;
    border: 1px solid #FFFF99;
}
.modal_container {
    width: 50%;
    height: 300px;
    border-radius: 36px;
    background-color: #0A72D1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.input_title {
    width: 30%;
    text-align: center;
    padding: 4px;
    border: none;
    border-radius: 12px;
}
.input_info {
    width: 100%;
    height: 150px;
    text-align: center;
    padding: 4px;
    border: none;
    border-radius: 12px;
}
.modal_btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.modal_select, .modal_btn_cancel, .modal_btn_confirm {
    width: 30%;
    height: 30px;
    border: none;
    border-radius: 12px;
    text-align: center;
}
.modal_warning {
    width: 50%;
    height: 150px;
    border-radius: 35px;
    background-color: #C80D0D;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.modal_warning p {
    color: white;
}
.modal_warning_btn {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}
.modal_warning_btn button {
    width: 30%;
    height: 30px;
    border: none;
    border-radius: 12px;
}
