body{
    --background-body: #fff;
    --text-color-white: #fff;
    --text-color-black: #000;
    --background-add: #2E3866;
    --background-done: #245953;
    --background-done-hover: #245935;
    --background-add-hover: #2E3840;
    --background-header: #F9DBBB;
    --background-modal: #4E6E81;
    --background-user-active: #245953;
    --background-card: #fff;
    --card-border-color: #919294;
    --card-description:#c3c3c3;
    --background-delete: #CF0A0A;
    --background-input: #fff;
}
:root{
    --dark-background-body: #2F1B41;
    --dark-text-color-white: #000;
    --dark-text-color-black: #fff;
    --dark-background-add: #712B75;
    --dark-background-add-hover: #46244C;
    --dark-background-done: #D49B54;
    --dark-background-done-hover: #E0AA67;
    --dark-background-header: #712B75;
    --dark-background-modal: #535474;
    --dark-background-user-active: #D49B54;
    --dark-background-card: #433751;
    --dark-card-border-color: #1F024C;
    --dark-card-description:#280B45;
    --dark-background-delete:#C74B50;
    --dark-background-input: #46244C;
}
